
.config{
    display: flex;
    .decimals{
        .input-element{
            input{
                padding: 10px;
                font-size: 1em;
                width: 10%;
            }
        }
    }
}